@mixin skeletonmenu {
    background-color: $shadowbgcolor;
    padding: $paddingbox;
    position: relative;
    z-index: 1;
    border-radius: 2rem 2rem 0 0;
    margin-top: -3rem;
    
}

@mixin checkskeleton {
    background-color: $colortertiary;
    width: 4rem;
    margin: -35px -4.5rem -0.5rem 0;
    border-radius: 0 0.75rem 0.75rem 0;
}

@mixin check {
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 50%;
    color: $colortertiary;
}
    